# Application mode: dev | prod
# Used to toggle debug logs and optimize build assets
MODE=dev

# System domain (SEO & Absolute Links). Do not change to localhost.
NEXT_PUBLIC_SITE=auth.qucore.com

# Internal Auth service URL
# In dev: http://localhost:5020
# In prod: https://api.auth.qucore.com
AUTH_SERVICE_URL=http://localhost:5020